.banner {
   background-image: url("/img/questions.jpg");
   padding: 80px;
   background-repeat: no-repeat;
   background-size: cover;
}

body {
  background: radial-gradient(#FDFDD4, #F3FDD4);
  margin: 10px;

}
