.banner {
   background-image: url("/img/questions.jpg");
   padding: 80px;
   background-repeat: no-repeat;
   background-size: cover;
}

body {
  background: radial-gradient(#D4FDE9, #F3FDD4);
  margin: 10px;
}

.navbar-brand img {
  height: inherit;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 16px;
  border-radius: 5px;
}

.navbar {
  background-color: ivory;
}

.btn {
  background-color: #859E92 !important;
}
