<div class="container">
  <header>
    <h1>  ***  </h1>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Elucidation Nation</a>
    </div>
  </div>
</nav>
  </header>
  {{outlet}}
</div>
