<h3>Welcome to Wonderland</h3>
<h4>What do you wonder?</h4>
<br>
<h5>On the Table</h5>

<ul>
  {{#each model.questions as |question|}}
    {{question-tile question=question}}
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
